@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Playfair+Display:ital,wght@0,800;1,400&family=Praise&display=swap');

body {
    background-image: url('corkboardBackground.jpg');
    border: 3em solid #8246AF ;
    margin: 0
}

header {
    background-color: #8246AF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    color: white;
}

.codes {
    color: #FFA300;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Playfair Display', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: Lato, sans-serif;
}
