{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}

<section class="paper">

    <div class='pin'>
        <img src="{% static 'news/images/SheCodesPin.png' %}">
    </div>

    <div class='profile-info'>
        <h1> {{ profilePage.first_name }} {{ profilePage.last_name }} </h1>
        {% if profilePage.profile_pic %}
            <img src="{{ profilePage.profile_pic }}">
        {% endif %}
        {% if profilePage.github_url %}
        <p> {{ profilePage.github_url }} </p>
        {% endif %}
        {% if profilePage.linkedin_url %}
        <p> {{ profilePage.linkedin_url }} </p>
        {% endif %}
        {% if profilePage.bio %}
        <p> {{ profilePage.bio }} </p>
        {% endif %}
    </div>

</section>

{% endblock %}