{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}

<h1 class="welcome">Welcome {{ user.username }}!</h1>
<p>Would you like to make a new story today?</p>
<a href="{% url 'news:newStory' %}">Write New Story</a>

<div class="edit-profile">
    <h2>Edit Profile</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}
