@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Playfair+Display:ital,wght@0,800;1,400&family=Praise&display=swap');

body {
    background-image: url('corkboardBackground.jpg');
    border: 3em solid #8246AF ;
    margin: 0;
    height: 100%;
}

header {
    background-color: #8246AF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-bottom: 2em;
    text-decoration: none;
}

.codes {
    color: #FFA300;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
    color:white;
}

h2 {
   font-family: 'Playfair Display', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 70%;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.nav a {
    margin: 1em;
    font-size: 2rem;
    color: white;
}

.nav a:hover {
    color:#FFA300;
}

a, p {
    font-family: Lato, sans-serif;
    text-decoration: none;
}