.story-card {
    flex: 1;
    line-height: 1;
    text-align:center;     
    width: 100%;    
    margin: 2em;    
    padding-top:0.1em;
    border:1px solid #E8E8E8;  
    border-top:30px solid #fdfd86;         
    border-bottom-right-radius: 60px 5px;
    display:grid; 
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 40% 40% 10%;   
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6));
}

.pin img {
    z-index: 2;
    grid-column: 1/2;
    grid-template-rows: 1/2;
    height: 100%;
    width: auto;
}

.story-preview {
    grid-column: 2/3;
    grid-row: 2/5;
}

.story-preview img {
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/3;
}

.story-card-text {
    padding: 0.5em;
    grid-column: 2/3;
    grid-row: 3/4;
}

.edit-card {
    grid-column: 2/3;
    grid-row: 4/5;
}

.story-card a {
    margin:0.3em;
    color: black;
}

.story-card a:hover {
    color:#8246AF;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#story-wrapper {
    height: 80vh;
    margin: 2.5em;
    padding: 1.5em;
    background-image: url('images/linedPaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 25% 65%;
    text-align: center;
    background-repeat: no-repeat;
    color: black;
}

#story-wrapper a {
    color: black;
}

#story-wrapper a:hover {
    color:#8246AF;
}

#story-wrapper .pin img {
    z-index: 2;
    grid-column: 1/2;
    grid-template-rows: 1/2;
    height: 100%;
    width: auto;
}

.actual-story {
    grid-column: 2/3;
    grid-template-rows: 2/3;
}

#story-content {
    grid-column: 2/3;
    grid-template-rows: 3/4;
}

#story-content img {
    float: right;
    margin: 0 0 1em 1em;
    width: 50%;
}

.paper {
    background-image: url('images/linedPaper.jpg');
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 25% 65%;
    text-align: center;
    background-repeat: no-repeat;
    margin: 4em;
}

.paper h2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.paper form {
    grid-column: 2/3;
    grid-row: 3/4;
}