{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} 

{% block content %}
<div id="story-wrapper">

    <div class='pin'>
        <img src="{% static 'news/images/SheCodesPin.png' %}">
    </div>

    <section class="actual-story">
        <h2>{{ story.title }}</h2>
        <a href="{% url 'users:profile-page' story.author.id %}">{{ story.author }}</a>
        <h4>{{ story.category }}</h4>
        {% if story.author == request.user %}
            <div class="edit-card">
                <a href="{% url 'news:editStory' story.pk %}">Update Story</a>
                <a href="{% url 'news:deleteStory' story.pk %}">Delete Story</a>
            </div>
        {% endif %}

        <div class="like">
            {% if user.is_authenticated %}
                <form action="{% url 'like_story' story.pk %}" method="POST">
                    {% csrf_token %}
                    {% if post_is_liked %}
                    <button type="submit" name="story_id" value="{{story.id}}">Unlike</button>
                    {% else %}
                    <button type="submit" name="story_id" value="{{story.id}}">Like</button>
                    {% endif %}
                </form>
            {% else %}
                <a href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
            {% endif %}
            <strong>{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
        </div>

        <div id="story-content">
            <img src="{{ story.image }}">
            {{ story.content|linebreaks }}
        </div>
    </section>

</div>
{% endblock %}
